.actEmItem {
  height: 200px;
  width: 100%;
  max-width: 280px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.actEmItem span {
  font-size: 2rem;
  border: 2px solid white;
  padding: 20px 10px;
  width: 80%;
  text-align: center;
  position: relative;
  color: white;
  }