.actEmItem {
  height: 200px;
  width: 100%;
  max-width: 280px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.actEmItem span {
  font-size: 1.7rem;
  border: 2px solid ghostwhite;
  padding: 8% 2%;
  width: 80%;
  text-align: center;
  position: relative;
  color: ghostwhite;
  word-break: break-all;
  }

/* media queries to laptops up */

  @media (min-width: 769px){

    .actEmItem{
      max-width: 30%;
      height: 370px;
      border: none;
    }

    .actEmItem span{
      padding: 14% 1%;
      border: 4px solid;
      font-size: max(2.7rem);
    }
  }