.header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 285px;
    width: 100%;
    height: 50px;
    background-color: rgba(252, 252, 252, 50%);
    position: fixed;
}