.header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.85rem;
    gap: 165px;
    width: 100%;
    height: 50px;
    background-color: rgba(252, 252, 252, 80%);
    position: fixed;
    z-index: 1;
  }
  
  nav span{
    cursor: pointer;
    color: rgba(20, 20, 20, 97%);
    
  }
  
  nav a{
    color: rgba(20, 20, 20, 97%);
    text-decoration: none;
    cursor: pointer;
}

nav a:visited{
    color: rgba(20, 20, 20, 97%);
}


@media (max-width: 1259px){

    span ~ a {
        display: none;
    }
}

@media (min-width: 1260px){
       
    .header{
        font-size: 1rem;
    }
    
    #navGroup {
        display: flex;
        width: 70%;
        justify-content: space-around;
    }
}