.historia{
  width: 90%;
  max-width: 340px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

@media (min-width: 1260px){

  .historia{
    max-width: 30%;
    height: 370px;
    }

}