.slides {
  display: flex;
  align-items: center;
  background-image: url(https://scontent.fmlm4-1.fna.fbcdn.net/v/t31.18172-8/14543790_874661719331013_8906457848622013803_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=9267fe&_nc_ohc=f_sWj9ghmLkAX840CDJ&_nc_ht=scontent.fmlm4-1.fna&oh=00_AfDY70wKSuJiqsDCtJDdNUeBfxgHdTieiZb0_JTj6p-95Q&oe=63FE4812);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid black;
}

.slides::before {
  content: "";
  background-color: rgba(20, 20, 20, 40%);
  width: 100%;
  height: 100vh;
  position: absolute;
}

.slides a{
  width: 87%;
  text-decoration: none;
  max-width: 880px;
  text-align: center;
  margin: 0 auto;
}

.slides a span {
  color: whitesmoke;
  font-size: clamp(1.1rem, 2.1vw, 2.5rem);
  width: 70%;
  padding: clamp(1%, 10%, 130px) 7%;
  max-width: 600px;
  text-align: center;
  position: relative;
  border: 6px solid;
  margin: 0 auto;
  transition: 0.5s;

}

.slides a span:hover{
  font-size: clamp(1.2rem, 2.2vw, 2.6rem);
}


/* Prevent slide text's border overflow */
@media (max-height: 430px) {

  .slides a span {
    padding: 5% 7%;
  }
}