.rentaItem{
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 95%);
    width: 150px;
    height: 262px;
    border-radius: 4px;
    margin-top: 30px;
    font-size: 1.1rem;
    color: white;
    text-align: center;
}

.rentaItem img{
    width: 80%;
    height: 180px;
    margin: 0 auto;
    margin-top: 18px;
    border-radius: 4px;
}

.rentaItem span{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}