.rentaItem{
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 95%);
    width: 150px;
    height: 262px;
    border-radius: 4px;
    margin-top: 30px;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.rentaItem img{
    width: 80%;
    height: 180px;
    margin: 0 auto;
    margin-top: 18px;
    border-radius: 4px;
}

.rentaItem span{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

@media (min-width: 900px) {
 
.rentaItem{
    width: 280px;
    height: 450px;
}

.rentaItem img{
    height: 300px;
}

.rentaItem span{
    font-size: 1.8rem
}

}