.swiper{
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    height: 100dvh;
}

.swiper-slide{
    width: 100%;
}

.swiper-slide img {
    filter: brightness(0.7);
    height: 100%;
}

.swiper-slide span{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 620px;
    font-size: clamp(1.6rem, 2vw, 3rem);
    color: ghostwhite;
    font-weight: 400;
    text-align: center;
    border: 6px solid ghostwhite;
    padding: clamp(3%, 4%, 60px) 0;
    margin: 0 auto;
}

@media (orientation: landscape){
    .swiper-slide img{
        width: 100%;
        height: auto;
    }
}