.slides{
    background-image: url(https://images.unsplash.com/photo-1590845947698-8924d7409b56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fG1hcmtldGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    width: 100%;
    height: 941px;
}

.slides::after{
    content: "Activaciones Empresariales";
    display: block;
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 33%;
    left: 34px;
    border: 5px solid;
    width: 70%;
    padding: 100px 10px;
}

h1{
  font-size: 1.7rem;
}

.actEmp{
  height: 941px;
}
/* My phone's screen width is over 360px */

/* 
Bugs
    -Change the slide image     */